@import "../../style.css";

.gallery {
    margin: 100px auto 40px;
    width: 600px;
}

.gallery .photos {
    margin-bottom: 30px;
}
.gallery img{
    display: none;
    max-width: 100%;
    height: auto;
}

.gallery img:first-child {
    display: block;
}

.gallery .buttons {
    display: flex;
    justify-content: space-between;
}

.gallery .btn {
    padding: 15px 30px;
}
