@import "../../../style.css";

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 20px;
  font-family: Ubuntu;
  transform: translate(-50%, -50%);
  color: #444;
  background: #ddd;
  border: 3px solid #aaa;
  border-radius: 6px;
  z-index: -1;
  opacity: 0;
  transition: all 1s ease;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  z-index: -2;
  opacity: 0;
  transition: all 1.2s ease;
}

.popup.show {
  opacity: 1;
  z-index: 3;
}

.overlay.show {
  opacity: 1;
  z-index: 2;
}